@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

/* 
font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;
*/

html {
    /* para general scroll animado de puntos de ancla se aplica esta regla */
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

:root {
    /* defino la variable que se van a repetir en mi codigo */
    --color-principal: #fa573a;
    --color-secundario: #21242e;
    --fuente-principal: 'Monserrat', sans-serif;
    --fuente-secundaria: 'handlee', cursive;
    --fontsize: 1em;
    --anchomaximo: 68.750em;
    --margingrid: 1em;
    --padding: 0.625em;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

body {
    font-family: var(--fuente-principal);
    font-size: var(--fontsize);
}

.container {
    max-width: var(--anchomaximo);
    margin: 0 auto;
}


/* inicio header */

header .nav-top {
    background-color: var(--color-secundario);
    padding: calc(var(--padding) *2) 0px;
}

header .nav-top .container {
    display: flex;
    justify-content: space-around;
}

header .nav-top a {
    color: var(--color-principal);
    text-decoration: none;
}

header .nav-top a span {
    display: none;
}

header .nav-top a i {
    font-size: 150%;
}

header nav {
    padding: calc(var(--padding) * 2);
}

header nav .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav .logo img {
    max-width: 6.250em;
}

header nav .hamburguesa {
    cursor: pointer;
    /* hace que funcione como un enlace y sale la mano de enlace */
}

header nav .hamburguesa div {
    border-top: 2px solid #aaa;
    margin-bottom: var(--padding);
    width: 1.875em;
}

header nav ul {
    width: 100%;
}

header nav .menu li a {
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: calc(var(--padding)*2);
    color: #aaa;
    border-bottom: 1px solid #aaa;
}

header nav .menu li:last-child a {
    border-bottom: 0;
}

header nav .menu li .activo,
header nav .menu li a:hover {
    color: var(--color-principal);
}


/* final header */


/* Inicio footer */

footer {
    background-color: var(--color-secundario);
    padding: calc(var(--padding) * 2) 0px;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--color-principal);
}

.flecha a {
    display: block;
    color: var(--color-principal);
    position: fixed;
    bottom: 70px;
    right: 20px;
    font-size: 300%;
}


/* final footer */


/* inicio ourservice */

main section {
    padding: 2.125em 1.5em;
}

main section h2 {
    color: black;
    font-family: var(--fuente-secundaria);
    font-size: 2em;
    text-align: center;
}

main section h2 span {
    color: var(--color-principal);
}

main section .underline {
    position: relative;
    width: 6.250em;
    margin: 0 auto;
    color: var(--color-principal);
    font-weight: 700;
    text-align: center;
    margin-bottom: calc(var(--margingrid)*1.5);
}

main section .underline hr {
    position: absolute;
    width: 100%;
    top: -1px;
    border-color: var(--color-principal);
}

main #ourservices .grid {
    display: grid;
    gap: var(--margingrid);
}

main #ourservices .grid article {}


/* inicio hero */

.hero {
    background-image: url(../images/fondo.jpg);
    height: 60vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    background-color: #999;
    background-blend-mode: multiply;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.hero h1 {
    font-family: var(--fuente-secundaria);
    font-size: 2.25em;
}

.hero h2 {
    color: var(--color-principal);
    font-size: 1.25em;
    margin: var(--margingrid) 0px;
}

.hero p {
    font-size: 1.15em;
}

.hero .social li {
    display: inline-block;
    margin-right: var(--margingrid);
    font-size: 2em;
}

.hero .social li a {
    color: white;
}

.boton {
    background-color: var(--color-principal);
    color: white;
    display: inline-block;
    padding: 1.15em;
    margin: var(--margingrid) 0px;
    text-decoration: none;
}

.boton:hover {
    background-color: transparent;
    border: 1px solid var(--color-principal);
    color: var(--color-principal);
}

.boton:hover i {
    transform: translateX(5px);
    transition: 0.5s;
}


/* final hero */


/* mediaqueries */

@media ( min-width:600px) {
    main #ourservices .grid {
        grid-template-columns: repeat (2, 1fr);
    }
    main #ourservices .grid article:last-child {
        grid-column: 1/3;
    }
}

@media (min-width: 768px) {
    header .nav-top a span {
        display: inline;
        color: #ffff;
        font-size: 120%;
        margin-left: 5px;
    }
    main #ourservices .grid {
        grid-template-columns: repeat (3, 1fr);
    }
    main #ourservices .grid article:last-child {
        grid-column: 3/4;
    }
}

@media (min-width: 1004px) {
    header nav .hamburguesa {
        display: none;
    }
    header nav ul {
        width: auto;
    }
    header nav .menu li {
        display: inline-block;
    }
    header nav .menu li a {
        padding: 0.5em var(--padding);
        border-bottom: none;
    }
    header {
        box-shadow: 0px 1px 10px gray;
    }
    footer {
        text-align: left;
    }
}